/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

html {
    height: 110vh;
}

body {
    background-image: linear-gradient(to bottom, #FFF, #E3FEF1);
}

.posts1 {
    border-style: solid;
    border-width: thin;
    border-radius: 3px;
    border-color: darkslategrey;
    background-color: white;
}

.ending {
    background-color:lightgray;
    text-align:center;
    color: darkslategray;
}

.button {
    padding: 10px 10px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #000;
    width: 220px;
    height: 175px;
    background-color: #FFF;
    border: 1px solid #000;
    border-radius: 3px;
}

.jumbo {
    background-image: radial-gradient(#F5FE75, #DA70D6);
}