/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

body {
    background-color: transparent !important;
}

html {
    background-image: linear-gradient(to bottom, #FFF, #4682B4);
    min-height: 100%;
    background-size: cover;
}

h3 {
    font-family: "Lobster", serif;
}

.posts1 {
    border-style: solid;
    border-width: thin;
    border-radius: 3px;
    border-color: darkslategrey;
    background-color: white;
}

.ending {
    background-color:lightgray;
    text-align:center;
    color: darkslategray;
}

.button {
    padding: 10px 10px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #000;
    width: 220px;
    height: 175px;
    background-color: #FFF;
    border: 1px solid #000;
    border-radius: 3px;
}

.button1 {
    width: 250px;
    padding: 10px 30px;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #000;
    width: 220px;
    height: 175px;
    background-color: #FFF;
    border: 1px solid #000;
    border-radius: 3px;
}

.small {
    font-size: 8px;
}

.jumbo {
    background-image: radial-gradient(#F0E68C, #DA70D6);
    height: 250px;
}