@model GroupProject.Models.BlogPost

@{
    ViewBag.Title = "Create";
}
<br />
<h2>Create a new Post</h2>

<div class="container">
    @using (Html.BeginForm())
    {
        <div class="form-group col-md-12" id="title">
            <label>Title</label>
            @Html.TextBoxFor(m => m.Title, new { @class = "form-control", placeholder = "Title" })
        </div>
        <div class="form-group col-md-12" id="textArea">
            @Html.LabelFor(m => m.Message)
            @Html.TextAreaFor(m => m.Message, new { @class = "form-control" })
        </div>
        <div class="row">
            <div class="col-md-2">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
            <div class="col-md-4">
                @Html.ActionLink("Back to Home", "Index", "Home", null, new { @class = "btn btn-primary" })
            </div>
        </div>
    }
</div>
@section scripts {
    <script src="https://cloud.tinymce.com/5/tinymce.min.js?apiKey=4rqmj7ccmxb5cl0c24xb252n8lb3pypgnbcruljgpeo3iw87"></script>
    <script>
        tinymce.init({
            selector: 'textarea'
        });
    </script>
}