@model IEnumerable<GroupProject.Models.BlogPost>
@{
    ViewBag.Title = "Index";
}
<br />
<h2>Admin Home</h2>
<br />
<div class="container">
    <div>
        <h4>Search Filters</h4>
        <form class="form-horizontal" role="form" id="searchForm">
            <div class="row">
                <div class="form-group col-md-4">
                    <label for="searchList" class="col-md-3 col-form-label">
                        Item:
                    </label>
                    <select id="searchList" class="square col-md-7">
                        <option value="default" disabled selected hidden>Select Category</option>
                        <option value="title">Title</option>
                        <option value="id">Blog Post Id</option>
                    </select>

                </div>
                <div class="form-group col-md-5">
                    <label for="SearchTextbox" class="col-md-3 col-form-label">
                        Term:
                    </label>
                    <input type="text" name="Search" id="SearchTextbox" class="square col-md-7" placeholder="Insert Term">
                </div>
                <div class="col-md-3">
                    <a href="#" class="button1 btn-info" id="adminSearchButton">Search</a>
                </div>
            </div>
        </form>
    </div>
</div>
<br />

<div class="container">
    <div class="row">
        <div class="col-md-1">
            <p>ID</p>
        </div>
        <div class="col-md-4">
            <p>Title</p>
        </div>
    </div>
</div>

<div class="container posts1" id="nonSearch">
    <br />
        @foreach (var post in Model)
        {
            <div class="row">
                <div class="col-md-1">
                    <p>@post.BlogPostId</p>
                </div>
                <div class="col-md-4">
                    <h3>@post.Title</h3>
                </div>
                <div class="col-md-2">
                    <p>@Html.ActionLink("update", "Update", "Admin", new { id = post.BlogPostId }, new { @class = "btn-sm btn-primary" })</p>
                </div>
                <div class="col-md-2">
                    <p>@Html.ActionLink("delete", "DeletePost", "Admin", new { id = post.BlogPostId }, new { @class = "btn-sm btn-danger" })</p>
                </div>
            </div>
        }
</div>

<div class="container posts1" id="posts2">
    <br />
</div>


@section scripts {
    <script type = "text/javascript" src = "/Scripts/searchHandler.js"></script>
}